<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Creating-Functions" data-toc-modified-id="Creating-Functions-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating Functions</a></span></li><li><span><a href="#Calling-Functions" data-toc-modified-id="Calling-Functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Calling Functions</a></span></li><li><span><a href="#Default-Argument-Values" data-toc-modified-id="Default-Argument-Values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Default Argument Values</a></span></li></ul></li><li><span><a href="#Lists" data-toc-modified-id="Lists-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#List-Methods" data-toc-modified-id="List-Methods-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>List Methods</a></span></li></ul></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionary-Methods" data-toc-modified-id="Dictionary-Methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Dictionary Methods</a></span></li></ul></li><li><span><a href="#Nesting" data-toc-modified-id="Nesting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Nesting</a></span><ul class="toc-item"><li><span><a href="#Nested-Structures" data-toc-modified-id="Nested-Structures-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nested Structures</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#List-and-Dictionary-Comprehensions" data-toc-modified-id="List-and-Dictionary-Comprehensions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>List and Dictionary Comprehensions</a></span><ul class="toc-item"><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>List Comprehension</a></span><ul class="toc-item"><li><span><a href="#Another-List-Comprehension-Example" data-toc-modified-id="Another-List-Comprehension-Example-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Another List Comprehension Example</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Dictionary-Comprehension" data-toc-modified-id="Dictionary-Comprehension-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Dictionary Comprehension</a></span><ul class="toc-item"><li><span><a href="#zip" data-toc-modified-id="zip-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span><code>zip</code></a></span><ul class="toc-item"><li><span><a href="#Dictionary-Comprehension-Using-zip" data-toc-modified-id="Dictionary-Comprehension-Using-zip-6.2.1.1"><span class="toc-item-num">6.2.1.1&nbsp;&nbsp;</span>Dictionary Comprehension Using <code>zip</code></a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li></ul></li><li><span><a href="#More-Exercises" data-toc-modified-id="More-Exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>More Exercises</a></span></li></ul></div>

In [1]:
# No imports today

# Objectives

- Write functions to transform data
- Construct list and dictionary comprehensions
- Extract data from nested data structures

# Functions

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

## Creating Functions

The first line will read:

```python

'def' function_name() ':'

```

Any arguments to the function will go in the parentheses.

Let's try building a function that will automate the task of finding how many times a given number can be evenly divided by 2.

In [2]:
# Let's code it!

def two_divide(num):
    
    div_num = num // 2
    
    return div_num

## Calling Functions

To _call_ a function, simply type its name, along with any necessary arguments in parentheses.

In [3]:
# Let's call it!

two_divide(8)

4

## Default Argument Values

Sometimes we'll want the argument(s) of our function to have default values.

In [4]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'

In [5]:
cheers('greg', 'scientist', 130)

"Hooray for greg. You're a scientist and you're 130!"

In [6]:
cheers(job='scientist', age=130, person='greg')

"Hooray for greg. You're a scientist and you're 130!"

In [7]:
cheers('cristian', 'git enthusiast')

"Hooray for cristian. You're a git enthusiast and you're 30!"

In [8]:
cheers()

"Hooray for aaron. You're a data scientist and you're 30!"

# Lists

## List Methods

Make sure you're comfortable with the following list methods:

- `.append()`: adds the input element to the end of a list
- `.pop()`: removes and returns the element with input index from the list
- `.extend()`: adds the elements in the input iterable to the end of a list
- `.index()`: returns the first place in a list where the argument is found
- `.remove()`: removes element by value
- `.count()`: returns the number of occurrences of the input element in a list

In [9]:
#create a test_list
test_list = list(range(1, 11))

In [10]:
# access individual elements / zero indexed

# list_name[index_value]
test_list[0]

1

In [11]:
# slicing from start to end, first inclusive, second exclusive
test_list[2:6]

[3, 4, 5, 6]

In [12]:
#slice from start, include first four values
test_list[:4]

[1, 2, 3, 4]

In [13]:
#slice from given index to end
test_list[6:]

[7, 8, 9, 10]

In [15]:
# append
test_list.append(11)

test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [16]:
# pop
test_list.pop()

11

In [17]:
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [18]:
#create more numbers
more_nums = list(range(12,20))

In [20]:
# extend
test_list.extend(more_nums)

test_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [21]:
# index
test_list.index(19)

18

In [22]:
#remove
test_list.remove(11)

In [24]:
# count
test_list.count(9)

1

In [25]:
# loop over list
for value in test_list:
    print(value)

1
2
3
4
5
6
7
8
9
10
12
13
14
15
16
17
18
19
12
13
14
15
16
17
18
19

In [26]:
# enumerate
for index,value in enumerate(test_list):
    print(f'Index {index} value {value}')

Index 0 value 1
Index 1 value 2
Index 2 value 3
Index 3 value 4
Index 4 value 5
Index 5 value 6
Index 6 value 7
Index 7 value 8
Index 8 value 9
Index 9 value 10
Index 10 value 12
Index 11 value 13
Index 12 value 14
Index 13 value 15
Index 14 value 16
Index 15 value 17
Index 16 value 18
Index 17 value 19
Index 18 value 12
Index 19 value 13
Index 20 value 14
Index 21 value 15
Index 22 value 16
Index 23 value 17
Index 24 value 18
Index 25 value 19

In [33]:
# multiple data types
# first with extend
test_list = list(range(1,11))
letter_list = ['a', 'b', 'c', 'd']

In [34]:
# now with append
test_list.extend(letter_list)
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd']

In [ ]:
#check out the data types!

In [1]:
lea = list(range(1,11))

def practice(number):
    for x in number:
        x = x + 1
        
    return x

practice(lea)

11

# Dictionaries

## Dictionary Methods

Make sure you're comfortable with the following dictionary methods:

- `.keys()`: returns an array of the dictionary's keys
- `.values()`: returns an array of the dictionary's values
- `.items()`: returns an array of key-value tuples

In [3]:
#Create a practice dictionary prac_dict
pract_dict = {
    'name' : 'Kelly',
    'sport': 'Football',
    'team' : 'Eagles',
}

pract_dict

{'name': 'Kelly', 'sport': 'Football', 'team': 'Eagles'}

In [4]:
# .keys()
pract_dict.keys()

dict_keys(['name', 'sport', 'team'])

In [5]:
# .values()
pract_dict.values()

dict_values(['Kelly', 'Football', 'Eagles'])

In [8]:
# items()
pract_dict.items()

dict_items([('name', 'Kelly'), ('sport', 'Football'), ('team', 'Eagles')])

In [9]:
# look a a key
pract_dict['name']

'Kelly'

In [ ]:
# try to index it

# Nesting

## Nested Structures

It will be well worth your while to practice accessing data in complex structures. Consider the following:

In [10]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],'books': []}, 'id': 1},
    
    'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
    
    'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

In [11]:
customers

{'bill': {'purchases': {'movies': ['Terminator', 'Elf'], 'books': []},
  'id': 1},
 'dolph': {'purchases': {'movies': ['It Happened One Night'],
   'books': ['The Far Side Gallery']},
  'id': 2},
 'pat': {'purchases': {'movies': [],
   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
  'id': 3}}

In [43]:
customers.keys()

dict_keys(['bill', 'dolph', 'pat'])

In [15]:
customers['pat']

{'purchases': {'movies': [],
  'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
 'id': 3}

In [44]:
customers['pat']['purchases']

{'movies': [], 'books': ['Seinfeld and Philosophy', 'I Am a Bunny']}

In [45]:
customers['pat']['purchases']['books']

['Seinfeld and Philosophy', 'I Am a Bunny']

In [46]:
customers['pat']['purchases']['books'][1]

'I Am a Bunny'

**Q**: How would we access 'I Am a Bunny'?
<br/>
**A**: The outermost "layer" has a name: 'customers', and that object is a dictionary:
<br/>
`customers`
<br/>
The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located:
<br/>
`customers['pat']`
<br/>
The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases':
<br/>
`customers['pat']['purchases']`
<br/>
The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is `books`:
<br/>
`customers['pat']['purchases']['books']`
<br/>
The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list:
<br/>
`customers['pat']['purchases']['books'][1]`

## Exercises

1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [17]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

In [20]:
new_phone = {}

for entry in phone_nos:
    new_phone[entry['name']] = entry['nums']['home']
    
new_phone

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

# List and Dictionary Comprehensions

## List Comprehension

List comprehension is a handy way of generating a new list from existing iterables.

Suppose I start with a simple list.

In [48]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

What I want now to do is to build a new list that comprises doubles of primes. I can do this with list comprehension!

The syntax is: `[ f(x) for x in <iterable>]`

In [49]:
prime_doubles = [x*2 for x in primes]
prime_triples = [x*3 for x in primes]

In [50]:
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [51]:
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [52]:
# create a list with a range called comp_test
comp_test = list(range(1,21))

What if I want to have a conditional?

The syntax is: `[ f(x) for x in <iterable> if condition]`

In [53]:
# Conditional comprehension
# create a list of odd numbers
odd_num = [x for x in comp_test if (x % 2) != 0]
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

What if I want to do an if/else?

The syntax is: `[ f(x) if conditional else g(x) for x in <iterable>]`

In [55]:
# if-else comprehension
# create a list with 'odd' if odd, and 'even' if even

odd_even = ['odd' if (x % 2) else 'even' for x in comp_test]

odd_even

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

##### Aside: List Comprehensions Vs. `for`-Loops

Yes, I could do the same work with for-loops:

In [ ]:
# simple

In [ ]:
# test
prime_doubles == prime_doubles2

In [ ]:
# conditional

In [ ]:
# if-else

But list comprehensions are more efficient: The syntax is simpler, and they're also faster. Also, you'll see them in other people's code, so you'll have to know how to work with them!

### Another List Comprehension Example

I can use list comprehension to build a list from objects other than lists:

In [56]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [name.split() for name in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [57]:
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [58]:
# Nested Comps!

[name1[0]+'.'+name2[0]+'.' for (name1, name2) in [name.split() for name in names]]

['A.T.', 'C.B.', 'A.L.', 'A.B.', 'S.W.', 'A.N.']

### Exercises

1. Use a list comprehension to extract the odd numbers from this set:

In [21]:
nums = set(range(1000))

2. Use a list comprehension to take the first character of each string from the following list of words.

In [23]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [24]:
first_char = [word[0] for word in words]
first_char

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

In [25]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [28]:
names_with_R = [name + "?" for name in names if name[0] == 'R']
names_with_R

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

## Dictionary Comprehension

Much like list comprehension, I can use dictionary comprehension to build dictionaries from existing iterables.

In [29]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}

Remember that the `.items()` method will return a collection of doubles:

In [30]:
my_dict.items()

dict_items([('who', 'flatiron school'), ('what', 'data science'), ('when', 'now'), ('where', 'here'), ('why', '$'), ('how', 'python')])

So I can use a pair of variables to range over it:

In [31]:
{k: v + '!' for k, v in my_dict.items() if k.startswith('w')}

{'who': 'flatiron school!',
 'what': 'data science!',
 'when': 'now!',
 'where': 'here!',
 'why': '$!'}

The same thing works for any collections of doubles:

In [32]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

{0: 1, 4: 9, 16: 25}

### `zip`

Remember that `zip` is a handy way of pairing up two or more iterables:

In [33]:
dict(zip(range(5), ['apple', 'orange', 'banana', 'lime', 'blueberry']))

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'lime', 4: 'blueberry'}

In [34]:
# Zipping multiple iterables together
tuple(zip(range(1, 5), 'a'*4, 'b'*4, 'c'*4, 'd'*4, 'e'*4))

((1, 'a', 'b', 'c', 'd', 'e'),
 (2, 'a', 'b', 'c', 'd', 'e'),
 (3, 'a', 'b', 'c', 'd', 'e'),
 (4, 'a', 'b', 'c', 'd', 'e'))

#### Dictionary Comprehension Using `zip`

In [35]:
{k: v for k, v in zip(range(5), range(0, 10, 2))}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [36]:
scores = [.858, .873, .868]
{'model' + str(j+1): scores[j] for j in range(3)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

### Exercises

1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:

In [ ]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.

In [ ]:
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']

Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions.

In [ ]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]

In [ ]:
[[item[0] for item in small_list] for small_list in lists]

# More Exercises

1. Build a function that will return $2^n$ for an input $n$.

2. Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

3. Build a function that returns the mode of a list of numbers.